// Place all the styles related to the public_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.description.column > .content {
  margin-top: 100px;
  font-size: 150%;
}

.twitter {
  margin-bottom: 30px;
}

.bio {
  font-style: italic;
  font-size: 100%;
  line-height: normal;
  margin-bottom:30px;
}

.personal.location {
  margin-bottom: 30px;
}
