<div class="user-links pull-left" id="side-links">
    <ul>
        <li><%= link_to '', dashboard_account_path,  class: 'fa fa-user'%></li>
        <li><%= link_to '', dashboard_messages_path, class: 'fa fa-envelope-o'%><span>2</span></a></li>
        <li><%= link_to '', dashboard_billing_path,  class: 'fa fa-building-o'%></a></li>
    </ul>
</div>
<!--user-links-->
