    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
        <div class="blackwhite-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>Card Details</h4>
            <div class="box-inner card-details col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="col-lg-9 col-md-9 col-sm-10 col-xs-10">
                    <li>
                        <div class="btn-group click_dropdown">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="fa fa-angle-down"></span>
                                <span class="valueOfButton">India</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>India</li>
                                <li>Ukrain</li>
                                <li>India</li>
                                <li>Ukrain</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <label>Card Number</label>
                        <input name="text" type="text" placeholder="*****"/>
                        <i class="fa fa-edit"></i>
                    </li>
                    <li>
                        <label>Valid Until</label>
                        <input name="text" type="text" placeholder="27/7/2016"/>
                        <i class="fa fa-edit"></i>
                    </li>
                </ul>
                <!--box-inner-->
            </div>
            <!--blackwhite-box-->
        </div>
        <!--col-->
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
        <div class="blackwhite-box Balance col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>Balance</h4>
            <div class="box-inner col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="col-lg-9 col-md-9 col-sm-10 col-xs-10">
                    <li>
                        <label class="balance-icon">
                            <i class="fa fa-trophy"></i>
                            Curent Balance</label>
                        <input name="text" type="text" placeholder="$50.00"/>
                    </li>
                    <li>
                        <label class="balance-icon">
                            <i class="fa fa-refresh"></i>
                            Referral Bonus</label>
                        <input name="text" type="text" placeholder="$10.00"/>
                    </li>
                </ul>
                <div class="btn-primary red-bg btn1">
                    <a href="#">Deposit</a>
                </div>
                <div class="btn-primary btn1">
                    <a href="#">Withdraw</a>
                </div>
                <!--box-inner-->
            </div>
            <!--blackwhite-box-->
        </div>
        <!--col-->
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div class="blackwhite-box Transactions col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>Transactions</h4>
            <div class="box-inner col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table>
                    <tbody>
                        <tr>
                            <th>Reference</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                        <% current_user.account.transfers.each do |t| %>
                        <tr>
                            <td><%= t.to %></td>
                            <td><%= t.amount %></td>
                            <td>&nbsp;</td>
                        </tr>
                        <% end  %>
                  </tbody>
                </table>
                <!--box-inner-->
            </div>
            <!--blackwhite-box-->
        </div>
        <!--col-->
    </div>
