<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Mailman</title>
		<link rel="stylesheet" href="/css/style.css" class="css">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|PT+Sans|Open+Sans|Passion+One" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="cover">
			<header>
				<img src="img/mailman.png" alt="" id="logo">
				<nav>
					<a class="nav" href="#">Home</a>
					<a class="nav" href="#works_head">How it works</a>
					<a class="nav" href="#team_head">Team</a>
					<a class="nav" id="login_btn" href="<%= new_user_session_path %>">Login</a>
				</nav>
			</header>


				<div class="cvr_left">
					<img src="img/left_cover.png" id="lft_img">
				</div>
				<div  class="cvr_right">
					<div class="cvr_text">
						<p>A Priority Email Service</p>
							<p>Get Paid To Read Your Messages</p>
					</div>
					<div id="signup_btn_cvr">
						<a class="sign_up_button" href="<%= register_path %>">Sign Up</a>
					</div>
					<img id="arrow" src="img/arrow.png">
				</div>
			</div>
			<div class="works">
					<p id="works_head">How it Works</p>
					<div id="works_left">
						<p class="works_para">Sign Up</p>
						<p class="works_disc">Get registered and verify your email address and mobile number.</p>
					</div>
					<div id="works_center">
						<p class="works_para">Set Fee</p>
						<p class="works_disc">Go to settings and set your fee.</p>
					</div>
					<div id="works_right">
						<p class="works_para">Withdraw</p>
						<p class="works_disc">When your balance reaches $30, withdraw to your account.</p>
					</div>
					<div class="dashes"></div>
			</div>
			<div class="sign_up_2">
				<p id="signup_2_head">Get the messages that require your attention.</p>
				<div id="signup_2_btn">
					<a class="sign_up_button" href="<%= register_path %>">Sign Up</a>
				</div>
			</div>
			<div class="team">
				<p id="team_head">The Team</p>
				<div>
					<div class="prof" id="prof_1"></div>

				</div>
				<div>
					<div class="prof" id="prof_2"></div>

				</div>
				<p class="prof_desc" id="prof_desc_1"><B><strong>Amin Shah Gilani</strong></B></p>
				<p class="prof_desc" id="prof_desc_2"><B><strong>Rana Waleed Asmat</strong></B></p><br><br>
				<p class="prof_desc" id="prof_pos_1"><B><strong>CEO</strong></B></p>
				<p class="prof_desc" id="prof_pos_2"><B><strong>CTO</strong></B></p>
			</div>
			<div class="partners">
				<p id="partners_head">Our Partners</p>
				<div id="partners_upper">
					<a href="http://boost.vc/"><img src="img/boost.png" alt="Boost VC" class="partners_img"></a>
					<a href="http://plan9.pitb.gov.pk/"><img src="img/plan9.png" alt="Plan 9" class="partners_img"></a>
				</div><br>
				<div id="partners_lower">
				</div>
			</div>
			<div class="copyright">
				<div id="footer_links">
					<a href="#" class="link_footer">Home</a><p class="dash">|</p>
					<a href="#works_head" class="link_footer">How it works</a><p class="dash">|</p>
					<a href="#team_head" class="link_footer">Team</a>
				</div>
				<p id="copyright_para">2016 © Payload Technologies inc.<p>
			</div>
			<!-- Analytics Code -->
		  <%= render 'layouts/ga' %>
	</body>
</html>
