.green-envelope {
    color: green;
}

.emails {
    margin: 15px 0 0;
    background-color: #fff;

    ul li a {
        font-size: 14px;
        display: block;
        line-height: 35px;
        position: relative;
        padding: 0 10px 0 62px;
        border-bottom: 1px solid #c6c7c7;

        i {
            font-size: 12px;
        }

        br {
            display: none;
        }

        .mail-icon {
            left: 26px;
            position: absolute;
        }

        div img {
            margin: 0 10px;
        }
    }
}
