/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

/* Clearing the top for the nav bar */
/* line 3, /home/gilani/Sandbox/blackmail/app/assets/stylesheets/custom.css.scss */
body {
  min-height: 2000px;
  padding-top: 70px;
  padding-bottom: 70px;
}

/* BEGIN FOOTER STYLES*/
/* line 10, /home/gilani/Sandbox/blackmail/app/assets/stylesheets/custom.css.scss */
.footer {
  background-color: #333;
}

/* unvisited link */
/* line 15, /home/gilani/Sandbox/blackmail/app/assets/stylesheets/custom.css.scss */
.footer-text a:link {
  color: gray;
}

/* visited link */
/* line 20, /home/gilani/Sandbox/blackmail/app/assets/stylesheets/custom.css.scss */
.footer-text a:visited {
  color: gray;
}

/* mouse over link */
/* line 25, /home/gilani/Sandbox/blackmail/app/assets/stylesheets/custom.css.scss */
.footer-text a:hover {
  color: gray;
}

/* selected link */
/* line 30, /home/gilani/Sandbox/blackmail/app/assets/stylesheets/custom.css.scss */
.footer-text a:active {
  color: gray;
}

/* line 34, /home/gilani/Sandbox/blackmail/app/assets/stylesheets/custom.css.scss */
.footer-text {
  margin-top: 5px;
  text-align: center;
  height: 100%;
  color: gray;
  text-decoration: none;
  font-size: 80%;
}

/* END FOOTER STYLES*/
