<div class="container">
	<!-- =========== -->
	<!--  Body Area  -->
	<!-- =========== -->
	<div class="content_height">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center paddingbox client-details">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 search-bar">
				<span>Hey Bob, let’s start messaging!
				</span>
				<input name="text" type="text" placeholder="Write username"/>
				<button name="submit" type="submit" class="fa fa-search"></button>
				<!--col-->
			</div>
			<!--col-->
		</div>
		<!--row-->
	</div>
	<!--container-->
</div>
<script>
	$(document).ready(function () {
		function jqUpdateSize() {
			// Fixed height
			if ($(window).width() > 991) {
				var height = $(window).height();
				$('.content_height').css('height', (height - 44 - (parseInt($('header.header').height()) + parseInt($('div.footer').height()))));
			}
		};
		jqUpdateSize()
		$(window).resize(function (e) {
			jqUpdateSize()
		});
	});
</script>
