html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a:hover, a:focus {
    text-decoration: none;
}
body {
    background: #fff;
    color: #000;
}
.fix {
    overflow: hidden;
}
::-webkit-input-placeholder {
 color: #fff;
 font-family: 'champagne__limousinesbold';
}
input:focus::-webkit-input-placeholder {
 opacity: 0;
}
textarea:focus::-webkit-input-placeholder {
 opacity: 0;
}
/**************************FONTS***********************/
@font-face {
    font-family: 'champagne__limousinesregular';
    src: url('fonts/champagne__limousines-webfont.eot');
    src: url('fonts/champagne__limousines-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/champagne__limousines-webfont.woff2') format('woff2'),
         url('fonts/champagne__limousines-webfont.woff') format('woff'),
         url('fonts/champagne__limousines-webfont.ttf') format('truetype'),
         url('fonts/champagne__limousines-webfont.svg#champagne__limousinesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'champagne__limousinesbold';
    src: url('fonts/champagne__limousines_bold-webfont.eot');
    src: url('fonts/champagne__limousines_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/champagne__limousines_bold-webfont.woff2') format('woff2'),
         url('fonts/champagne__limousines_bold-webfont.woff') format('woff'),
         url('fonts/champagne__limousines_bold-webfont.ttf') format('truetype'),
         url('fonts/champagne__limousines_bold-webfont.svg#champagne__limousinesbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1 {
    font-size: 48px;
    font-family: 'champagne__limousinesbold';
}
h2 {
    font-size: 36px;
    font-family: 'champagne__limousinesbold';
}
h3 {
    font-size: 28px;
    font-family: 'champagne__limousinesbold';
}
p {
    font-size: 28px;
    font-family: 'champagne__limousinesregular';
}
header {
    background: #77CEE6;
    overflow: hidden;
    padding-top: 20px;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
    font-size: 20px;
    font-family: 'champagne__limousinesbold';
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #000;
    background-color: transparent;
    border-bottom: 2px solid #ED9629;
}
.nav>li {
    padding: 10px 15px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 0;
}
@media (min-width: 768px) {
    .navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
    }
}

header img {
    margin-top: 100px;
}
.head-text {
    text-align: center;
    margin-top: 150px;
}
.head-text h1 {
    padding: 0px 0px 10px 0;
    color: #ED9629;
}
.head-text h2 {
    color: #fff;
}
.head-text h2 span {
    color: #ED9629;
}
.email {
    text-align: center;
    padding: 40px 0 60px 0;
    background: #EDEFF4;
    overflow: hidden;
}
.email h1 {
    padding-bottom: 220px;
    color: #77cee6;
}
.email img {
    display: block;
    margin: 20px auto;
}
.padd {
    margin-top: -68px;
}
.email h3 {
    color: #ED9629;
    padding: 5px 0;
}
.about-us {
    background: #ED9629;
   padding: 40px 0 60px 0;
}
.about-us h1 {
    color: #fff;
    padding-bottom: 40px;
}
.about-us p {
    line-height: 36px;
    padding-bottom: 20px;
    color: #000;
}
.about-us p span {
    color: #fff;
}
.about-img {
    margin-top: 50px;
}
.about-img ul {
    width: 1170px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.about-img ul li {
    display: inline-block;
    padding: 0 50px;
}
.about-img ul li img {
    vertical-align: middle;
}
.team {
    padding: 40px 0 60px 0;
    background: #EDEFF4;
    text-align: center;
}
.team h1 {
    color: #ED9629;
    padding-bottom: 100px;
}
.team img {
    display: block;
    margin: 20px auto;
}
.team h3 {
    font-family: 'champagne__limousinesregular' !important;
    padding: 5px 0;
}
.contact {
    background: #ed9629;
    padding: 40px 0 60px 0;
}
.contact h1 {
    color: #fff;
    padding-bottom: 60px;
}
.contact form {}
.contact form input[type="text"], .contact form input[type="email"] {
    width: 70%;
    display: block;
    margin: 0 auto;
    padding: 8px 8px 8px 15px;
    border: 1px solid #77cee6;
    margin-bottom: 20px;
    color: #fff;
    background: #ED9629;
    outline: none;
    border-radius: 10px;
    font-size: 28px;
}
.contact form textarea {
    width: 70%;
    display: block;
    margin: 0 auto;
    padding: 8px 8px 8px 15px;
    border: 2px solid #77cee6;
    margin-bottom: 20px;
    color: #fff;
    background: #ED9629;
    outline: none;
    border-radius: 10px;
    font-size: 28px;
    height: 130px;
}
.contact-text {
    border-left: 1px solid #77cee6;
    height: 163px;
    margin-top: 50px;
    padding-top: 40px;
    padding-left: 60px;
    margin-left: -35px;
}
.contact-text h3 {
    margin: 5px 0;
}
#contact_submit{
  background-color: #fff;
  border: 2px solid #77cee6;
  width: 100px;
  height: 30px;
  margin-left: 375px;
  color: #77cee6;
  font-family: 'champagne__limousinesbold';
}
footer {
    padding: 40px 0 60px 0;
    text-align: center;
    background: #EDEFF4;
}
footer img {
    display: block;
    margin: 0 auto;
}
footer ul {
    padding: 30px 0 10px 0;
}
footer ul li {
    display: inline-block;
    padding: 0 14px;
}
footer ul li a {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    font-family: 'champagne__limousinesbold';
}
footer ul li a:hover {
    color: #000;
    border-bottom: 2px solid #ED9629;
}
footer h6 {
    font-size: 20px;
    font-family: 'champagne__limousinesbold';
}
#icon_image{
  position: fixed;
  top: -85px;



}
