<% user = locals[:user] %>
<div class="small card">
    <div class="content">
        <img class="right floated mini ui image" src=<%= user.profile.avatar %>>
        <div class="header">
          <%= user.profile.name %>
        </div>
        <div class="meta">
            New Member
        </div>
        <div class="description">
          <%= user.profile.bio %>
        </div>
    </div>
    <div class="extra content">
        <div class="ui basic green button">
            Talk for $<%= user.profile.rate %>
        </div>
    </div>
</div>
