# Add configuration values here, as shown below.
test:
  stripe_api_key:
  stripe_publishable_key:
  domain:
  twilio_sid:
  twilio_secret:
  authy_key:
  authy_url:

development:
  stripe_api_key:
  stripe_publishable_key:
  domain:
  twilio_sid:
  twilio_secret:
  authy_key:
  authy_url:

staging:
  stripe_api_key:
  stripe_publishable_key:
  domain:
  twilio_sid:
  twilio_secret:
  authy_key:
  authy_url:

production:
  stripe_api_key:
  stripe_publishable_key:
  domain:
  twilio_sid:
  twilio_secret:
  authy_key:
  authy_url:
  smtp_address:
  smtp_port:
  smtp_username:
  smtp_password:
