
<div class="container">
  <div></div>

  <div style="float: left;width: 15%;border-right: 10px;">
    <table id="tbl1" class="table table-hover" >
      <thead>
      <tr>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><b>Inbox</b></td>
      </tr>
      <tr>
        <td><b>Spam</b></td>
      </tr>
      <tr>
        <td><b>Settings</b></td>
      </tr>
      </tbody>
    </table>
    </div>
  <div>

  </div>
  <div style="float: left;width: 70%">
    <table id="tbl2" class="table table-hover" >
      <thead>
      <tr>

      </tr>
      </thead>
      <tbody>
      <tr>
        <td>John</td>

      </tr>
      <tr>
        <td>Mary</td>

      </tr>
      <tr>
        <td>July</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>