<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <p>
        <%= @message %>
        <p></div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 login-columns">
          <div class="border-right branding-block">
            <img alt="BLACKMAIL" class="big-logo" src="/img/logo/logo-gray-transparent.png"/>
            <h2>Get Paid To Read Your Mail</h2>
            <h3>
              Charge senders to send you mail
            </h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 login-columns">
          <div class="user-form">
            <form action="login" method="post" role="form">
              <div class="form-group">
                <input class="form-control txt" name="email" placeholder="Email" style="border-radius:0;" type="email">
                <input class="form-control txt" name="password" placeholder="Password" style="border-radius:0;" type="password">
                <button class="btn btn-default" style="border-radius:0;" type="submit">Sign In</button>
              </div>
              <p>Not a user?
                <a href="register">Register</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
