
<div class="container">
    <img id="line" src="/images/line.png"/>
    <h1>Making Your <br>Emails<br> More Human Again</h1>
        <div class="div_form">
            <form role="form" action="login" method="post">
                <div class="form-group">
                    <input style="border-radius:0;" type="email" class="form-control txt" name="email" placeholder="Email">
                    <input style="border-radius:0;" type="password" class="form-control txt" name="password" placeholder="Password">
                    <button style="border-radius:0;"  type="submit" class="btn">Sign In</button>
                </div>
                <div id="mem_elem">
                    <p id="member">Not a member? <a href="register">Sign Up</a></p>
                </div>
            </form>
        </div>
</div>
