<div class="container profile-container">
  <div class="row">
    <div class="col-md-4 user-profile-col">
      <div class="user-profile">
        <div class="user-picture">
          <img alt="picture" src="http://www.gravatar.com/avatar/ecce1d686a404c4ed18354b4c559236d"/>
        </div>
        <div class="user-biography">
          <p>
            Yet Another Humanoid
          </p>
        </div>
        <div class="user-location">
          <p>
            San Francisco, CA
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="user-contact-info">
          <div class="user-username">
            <p>
              blackmail.io/gilani
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="user-action-button user-email-button">
              <p>
                <i class="fa fa-envelope fa-5x"></i>
                <br>
                <span class="action">Send an email</span><br>
                <span class="price">$10</span>
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="user-action-button user-text-button">
              <i class="fa fa-mobile fa-5x"></i>
              <br>
              <span class="action">Send a text</span><br>
              <span class="price">$10</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="user-action-button user-call-button">
              <i class="fa fa-phone fa-5x"></i>
              <br>
              <span class="action">Schedule a call</span><br>
              <span class="price">$10</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
