<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="user-profile">
        <div class="user-picture">
        <img src="http://www.gravatar.com/avatar/ecce1d686a404c4ed18354b4c559236d" alt="picture" />
        </div>
        <div class="user-biography">
          <p>
            Yet Another Humanoid
          </p>
        </div>
        <div class="user-location">
          <p>
            San Francisco, CA
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
      <div class="user-contact-info">
        <div class="user-username">
          <p>
            blackmail.io/gilani
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="user-email-button">

          </div>
        </div>
        <div class="col-sm-4">
          <div class="user-text-button">

          </div>
        </div>
        <div class="col-sm-4">
          <div class="user-call-button">

          </div>
        </div>

      </div>
      </div>
    </div>
  </div>
</div>
