<div style="margin-left: 550px;margin-top: 200px;">
  <form  action="register" method="post" xmlns="http://www.w3.org/1999/html">
    <input type="text" name="email" placeholder="Email"></br>
    <input type="password" name="password" placeholder="Password"></br>
    <input type="password" name="password2" placeholder="Retype Password"></br>
    <input type="submit" placeholder="Sign Up" >
  </form>
  <h1><%=@notif%></h1>
</div>