<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <p>
        <%= @message %>
        <p></div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 login-columns">
          <div class="border-right branding-block">
            <img alt="MAILMAN" class="big-logo" src="/img/logo/logo-black-transparent.png"/>
            <h2>Get Paid To Read Your Mail</h2>
            <h3>
              Charge senders to send you mail
            </h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 login-columns">
          <div class="user-form">
            <form action="register" method="post" role="form">
              <div class="form-group">
                <input class="form-control txt" name="username" placeholder="Username" style="border-radius:0;" type="text">
                <input class="form-control txt" name="email" placeholder="Email" style="border-radius:0;" type="email">
                <button class="btn btn-default" style="border-radius:0;" type="submit">Register
                </button>
              </div>
            </form>
          <p>Already a user?
            <a href="login">Login</a>
          </p>
          </div>
        </div>
      </form>
    </div>
  </form>
</div>
</div>
</div>
