<div class="container">
  <p style="color:#a94442;font-size: 18px;margin-left: 20%;"><%=@message%><p>
  <img id="line" src="/images/line.png"/>
  <h1>Making Your </br>Emails</br> More Human Again</h1>
  <div class="div_form">
    <form role="form" action="register" method="post">
      <div class="form-group">
        <input style="border-radius:0;" type="text" class="form-control txt" name="username" placeholder="Username">
        <input style="border-radius:0;" type="email" class="form-control txt" name="email" placeholder="Email">
        <input style="border-radius:0;" type="number" class="form-control txt" name="reward" step="0.0001" placeholder="reward eg. 0.02">
        <button style="border-radius:0;"  type="submit" class="btn">Register  </button>
      </div>
    </form>
  </div>
</div>
