<div>
  <form action="activate" method="post" role="form" style="margin-left: 40%;margin-top: 10%;">
    <fieldset>
      <input type="hidden" value="<%=@cred.id%>" name="id">
    <div class="form-group">
      <input class="form-control" type="password" id="password" name="password" placeholder="Password">
    </div><br>
    <div class="form-group">
      <input class="form-control" type="password" id="confirm_password" name="password2" placeholder="Re Type Password">
    </div><br>
    <button style="margin-left: 175px" type="submit" class="btn btn-danger">
      Set Password
    </button>
    </fieldset>
  </form>
</div>
<script>
  var password = document.getElementById("password")
      , confirm_password = document.getElementById("confirm_password");

  function validatePassword(){
    if(password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
      confirm_password.setCustomValidity('');
    }
  }

  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;


</script>