<div>
  <form action="setpassword" method="post" style="margin-left: 40%;margin-top: 10%;">
    <fieldset>
      <input type="hidden" value="<%=@cred.id%>" name="id">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="password" id="password" name="password">
      <label class="mdl-textfield__label" for="sample3">Password...</label>
    </div><br>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="password" id="confirm_password" name="password2">
      <label class="mdl-textfield__label" for="sample3">Re-enter Password...</label>
    </div><br>
    <button style="margin-left: 175px" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Button
    </button>
    </fieldset>
  </form>
</div>
<script>
  var password = document.getElementById("password")
      , confirm_password = document.getElementById("confirm_password");

  function validatePassword(){
    if(password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
      confirm_password.setCustomValidity('');
    }
  }

  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;


</script>