<div class="upper_nav">
  <a id="sett" href="settings">Settings</a>
  <a id="trans" href="transactions">Transactions</a>
  <a id="logout" href="logout">Logout</a>
</div>
<div class="tble_trans">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Time</th>
      <th>Sender</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>10:44</td>
      <td>john@example.com</td>
      <td>Closed</td>
    </tr>
    <tr>
      <td>9:15</td>
      <td>mary@example.com</td>
      <td>Closed</td>
    </tr>
    <tr>
      <td>12:00</td>
      <td>july@example.com</td>
      <td>Open</td>
    </tr>
    </tbody>
  </table>



</div>