.btn1{
	margin:90px 0 0;
	display:inline-block;
	min-width:360px;
}
.btn1 i{
	font-size:18px;
}
.btn1 img{
	margin:0 10px 0 0;
}
.btn-primary{
	border:none;
	border-radius:5px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0089b5+0,00a1c6+100 */
	background: rgb(0,137,181); /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, rgba(0,137,181,1) 0%, rgba(0,177,210,1) 100%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left, rgba(0,137,181,1) 0%, rgba(0,177,210,1) 100%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, rgba(0,137,181,1) 0%, rgba(0,177,210,1) 100%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, rgba(0,137,181,1) 0%, rgba(0,177,210,1) 100%); /* Standard syntax */
}

.btn-primary a{
	color:#fff;
	display:block;
	font-size:16px;
	line-height:16px;
	text-align:center;
	padding:14px 26px 15px;
}
.btn-primary a:hover{
	color:#fff;
	text-decoration:none;
}
.btn-primary:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0089b5+0,00a1c6+100 */
	background: rgb(0,137,181); /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, rgba(0,137,181,1) 0%, rgba(0,177,210,1) 100%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left, rgba(0,137,181,1) 0%, rgba(0,177,210,1) 100%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, rgba(0,137,181,1) 0%, rgba(0,177,210,1) 100%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, rgba(0,137,181,1) 0%, rgba(0,177,210,1) 100%); /* Standard syntax */
}
