.paddingbox{
	padding-top:50px;
	padding-bottom:50px;
}
.padding20{
	padding-top:20px;
	padding-bottom:20px;
}
.nopadding-lt{
	padding-left:0
}
.nopadding{
	padding:0;
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}
.blue-bg{
	background-color:#005e7d;
}
.light-grey-bg{
	background-color:#f6f6f6;
}
.red-bg{
	background-color:#e84229 !important
}
.navy-blue-bg{
	background-color:#3b5998 !important
}
.sky-bg{
	background-color:#1c9ded !important
}

.white-bg {
	background-color: white;
}
