/* Clearing the top for the nav bar */
body {
  padding-top: 70px;
  padding-bottom: 70px
}
.navbar{
 background-color:#373a70; 
}

.navbar-nav > li > .dropdown-menu { background-color: #373a70; }
/* BEGIN FOOTER STYLES*/
.footer {
   background-color:#373a70;
}
.dropdown a:hover{
  backgorund-color:#fff;
  
}
/* unvisited link */
.footer-text a:link {
    color: gray;
}

/* visited link */
.footer-text a:visited {
    color: gray;
}

/* mouse over link */
.footer-text a:hover {
    color: gray;
}

/* selected link */
.footer-text a:active {
    color: gray;
}

.footer-text {
  margin-top: 5px;
  text-align: center;
  height: 100%;
  color: gray;
  text-decoration: none;
  font-size: 80%;
}
/* END FOOTER STYLES*/
