.footer {
	padding: 40px 0 22px;
	background-color: #3e413e;

	.sitemap {
		li {
			margin: 0 0 20px;
		}

		a {
			color: #ccc;
		}
	}

	.social {
		li {
			margin: 0 0 20px;

			a {
				color: #ccc;
			}

			i {
				color: #0089b5;
			}
		}
	}
}
