<div class="user-talkTo col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <span class="heading pull-left">Browse others</span>
    <div class="clearfix"></div>
    <% 6.times do %>
      <%= render 'contact_card' %>
    <% end %>
</div>
