<!-- Following Menu -->
<div class="ui large hidden menu">
  <div class="ui container">
    <a href="<%= root_path %>" class="brand item">Mailpenny</span>
    <div class="right menu">
      <div class="item">
        <a class="ui button">Log in</a>
      </div>
      <div class="item">
        <a class="ui primary button">Sign Up</a>
      </div>
    </div>
  </div>
</div>
