<div class="ui large hidden container">
    <div class="ui menu">
        <div class="header item">Mailpenny</div>
        <div class="item">
            <div class="ui action left icon input">
                <i class="search icon"></i>
                <input type="text" placeholder="Search">
                <button class="ui button">Submit</button>
            </div>
        </div>
        <div class="right menu">
          <% if user_signed_in? %>
          <a href="#" class="item">
            <i class="user icon"></i>
            Profile
          </a>
          <a href="#" class="item">
            <i class="mail icon"></i>
            Inbox
          </a>
          <div class="dropdown item" tabindex="0">
              Dropdown
              <i class="dropdown icon"></i>
              <div class="menu transition hidden" tabindex="-1">
                  <a class="item">Profile</a>
                  <a class="item">Inbox</a>
                  <a class="divider">Settings</a>
                  <a class="item">Account</a>
                  <a class="item">Billing</a>
              </div>
          </div>
          <% else %>
          <div class="item">
              <a href="<%= new_user_session_path %>" class="ui button">Log in</a>
          </div>
          <div class="item">
              <a href="<%= new_user_registration_path %>" class="ui primary button">Sign Up</a>
          </div>
          <% end %>
        </a>
    </div>
</div>
