<ul>
<% if user_signed_in? %>
<li><%= link_to 'Logout', logout_path, method: :delete %></li>
<% else %>
<li> <%= link_to 'Login', login_page_path %> </li>
<li> <%= link_to 'Register', register_page_path %></li>
<% end %>
</ul>
