<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav nav nav-pills nav-stacked">
    <li role="presentation">
      <a href="#">Dashboard</a>
    </li>
    <li role="presentation">
      <a href="#">Shortcuts</a>
    </li>
    <li role="presentation">
      <a href="#">Overview</a>
    </li>
    <li role="presentation">
      <a href="#">Events</a>
    </li>
    <li role="presentation">
      <a href="#">About</a>
    </li>
    <li role="presentation">
      <a href="#">Services</a>
    </li>
    <li role="presentation">
      <a href="#">Contact</a>
    </li>
  </ul>
</div>
<!-- /#sidebar-wrapper -->
