<footer class="footer navbar-fixed-bottom">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div class="footer-text">
        <p>
          <a href="#">Terms</a> &#124; <a href="#">Privacy</a> &#124; <a href="#">About</a> &#124; <a href="#">FAQ</a> <br>
          <span class="text-muted copyright-notice">&copy; Payload Technologies Inc. All Rights Reserved</span>
        </p>
      </div>
    </div>
  </div>
</div>
</footer>
