<p>Links</p>
<ul>
  <li><a href="/home">home</a></li>
  <li><a href="/about"></a>about</li>
  <li><a href="/terms">terms</a></li>
  <li><a href="/privacy"></a>privacy</li>
  <li><a href="/help">help</a></li>
  <li><a href="/login">login</a></li>
  <li><a href="/register">register</a></li>
</ul>
<%= yield %>
